.products{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 45px;
}

.products_table{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 25px;
    gap: 0;
    width: 100%;
}

.product{
    border: 1px solid #007eb94e;
}

.product_descr{
    font-weight: 600;
    margin-left: 15px;
}

.product_title{
    font-weight: 700;
}

.product_btns{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card_btn {
    border: none;
    border-radius: 5px;
    background-color: #007eb9;
    color: white;
    margin: 10px;
    padding: 5px;
    cursor: pointer;
    text-transform: uppercase;
}
.card_btn:hover{
    background-color: #23a4e0;
}

.product_row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    margin: 10px;
    border: 1px solid #007eb94e;
}

.table_btns{
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggle_btn{
    background-color: #007eb9;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 7px;
}

.toggle_btn:hover{
    background-color: #23a4e0;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}